<div class="profile">
    <div class="profile-image">
        <% if (theme.profile.image) {%>
            <img src="<%= url_for(theme.profile.image)%>" alt="featured_image">
        <% } %>  
    </div>
    <div class="post-content profile-content">
        <div class="profile-title">
            <%=theme.profile.title%>
        </div>
        <div class="profile-body">
            <%=theme.profile.body%>
        </div>
        <% Object.keys(theme.profile.links).forEach(key => { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>"><%=key%></a> 
            </div>           
        <% }); %>

        <div class="profile-text">
            A blog discussing my learning process with Japanese, as well as reviews of media I'm using to immerse.
            You can also find my various opinions on language learning techniques and how they've worked (or not!) for me.
            <br><br>Feel free to email me at <a href="mailto://larry@c272.org">larry@c272.org</a>, or submit questions through Disqus.
        </div>
    </div>
    
</div>